
.doctor-page-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    width: 90%;
    padding-top: 50px;
    padding-left: 50px;
}
.profile-img {
    width: 500px;
    border-radius: 20px;
}
.doctor-detail-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
}
.details {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18x;
}
.schedule-heading {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 50x;
    text-decoration: underline;
}
.schedule-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.day-time {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
}
.book-Appointment-btn {
    height: 40px;
    width: 170px;
    background-color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    font-family: "Roboto";
    font-weight: bold;
    border-width: 0px;
    border: 1px solid gray;
    transition: 0.3s;
}
.book-Appointment-btn:hover {
    background-color: #09bfe8;
    color: #ffffff;
    border-width: 0px;
}